body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand img {
    height: 40px;
}

.section {
    padding: 60px 0;
}

.section h2 {
    margin-bottom: 30px;
}

.bg-contrast {
    background-color: #343a40; /* Dark background color for contrast */
    color: #ffffff; /* Light text color for contrast */
    padding: 100px 0; /* More padding to create space around the content */
}

.logo-container {
    margin-bottom: 20px;
}

.intro-logo {
    height: 80px; /* Larger logo size for the intro section */
}

.card {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    background-color: #f8f9fa;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}
